@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (max-width: 767px) {
  .small-device-collapse-nav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s; 
    white-space: nowrap;
  }
}

.nav-item{
  @apply text-base md:text-[18px] font-medium
}

.hero-title{
  @apply text-[48px] md:text-[80px] lg:text-[90px] xl:text-[120px] 2xl:text-[140px] font-bold text-secondary text-right leading-[55px] md:leading-[70px] lg:leading-[90px] xl:leading-[120px] 2xl:leading-[140px]
}

.sidebar-tab{
  @apply  hover:bg-primary flex items-center gap-x-5 lg:gap-x-[45px] p-2 border rounded-lg cursor-pointer hover:shadow-[rgba(17,_17,_26,_0.1)_0px_4px_16px,_rgba(17,_17,_26,_0.05)_0px_8px_32px] transition-all ease-out duration-100
}


